---

- name: Ensure apt_preferences include file for deb.nodesource.com is present
  copy:
    src: apt/preferences.d/deb.nodesource.com.pref
    dest: /etc/apt/preferences.d/deb.nodesource.com.pref
    mode: 0644
    owner: root
    group: root

- name: ensure ethercalc user is present
  user:
    name: "{{ ethercalc_user }}"
    home: "{{ ethercalc_home }}"
    shell: "/bin/bash"
    state: present

- name: ensure required packages are installed
  apt:
    pkg: "{{ item }}"
    state: present
  with_items: "{{ ethercalc_required_packages }}"

- name: ensure ethercalc is latest
  git:
    repo: "{{ ethercalc_repository }}"
    dest: "{{ ethercalc_path }}"
    version: "{{ ethercalc_repository_version}}"
    key_file: "{{ ethercalc_repository_key_file}}"
  become_user: "{{ ethercalc_user }}"
  register: repository
  vars:
    ansible_ssh_pipelining: True

- name: install nodejs dependencies
  command: npm clean-install
  args:
    chdir: "{{ ethercalc_path }}"
  become_user: "{{ ethercalc_user }}"
  when: repository.changed

- name: ensure ethercalc systemd script is latest
  template:
    src: ethercalc.service.j2
    dest: /etc/systemd/system/ethercalc.service
    owner: root
    group: root
    mode: 0755
  notify: reload systemd
  when: ansible_distribution == 'Debian'

- name: ensure ethercalc sysvinit script is latest
  template:
    src: ethercalc.sysvinit.j2
    dest: /etc/init.d/ethercalc
    owner: root
    group: root
    mode: 0755
  when: ansible_distribution == 'Ubuntu'

- name: ensure ethercalc will start after system is booted
  service:
    name: ethercalc
    enabled: yes

- include: monit.yml
  when: ethercalc_monit_enabled
