[Unit]
Description=ethercalc (real-time collaborative spreadsheet editing)
After=syslog.target network.target

[Service]
Type=simple
User={{ ethercalc_user }}
Group={{ ethercalc_group }}
ExecStart={{ ethercalc_path }}/bin/ethercalc {{ ethercalc_cors|ternary('--cors', '') }} --host {{ ethercalc_ip }} --port {{ ethercalc_port }} --expire {{ ethercalc_spread_seconds_to_expire }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
